<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>superMarketManage</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBillListServlet</display-name>
    <servlet-name>QueryBillListServlet</servlet-name>
    <servlet-class>com.xx.servlet.QueryBillListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBillListServlet</servlet-name>
    <url-pattern>/QueryBillListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBillServlet</display-name>
    <servlet-name>AddBillServlet</servlet-name>
    <servlet-class>com.xx.servlet.AddBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBillServlet</servlet-name>
    <url-pattern>/AddBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBillServlet</display-name>
    <servlet-name>DeleteBillServlet</servlet-name>
    <servlet-class>com.xx.servlet.DeleteBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBillServlet</servlet-name>
    <url-pattern>/DeleteBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerySupplierServlet</display-name>
    <servlet-name>QuerySupplierServlet</servlet-name>
    <servlet-class>com.xx.servlet.QuerySupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerySupplierServlet</servlet-name>
    <url-pattern>/QuerySupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSupplierServlet</display-name>
    <servlet-name>AddSupplierServlet</servlet-name>
    <servlet-class>com.xx.servlet.AddSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierServlet</servlet-name>
    <url-pattern>/AddSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSupplierServlet</display-name>
    <servlet-name>DeleteSupplierServlet</servlet-name>
    <servlet-class>com.xx.servlet.DeleteSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSupplierServlet</servlet-name>
    <url-pattern>/DeleteSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUsersServlet</display-name>
    <servlet-name>QueryUsersServlet</servlet-name>
    <servlet-class>com.xx.servlet.QueryUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUsersServlet</servlet-name>
    <url-pattern>/QueryUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUsersServlet</display-name>
    <servlet-name>AddUsersServlet</servlet-name>
    <servlet-class>com.xx.servlet.AddUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUsersServlet</servlet-name>
    <url-pattern>/AddUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUsersServlet</display-name>
    <servlet-name>DeleteUsersServlet</servlet-name>
    <servlet-class>com.xx.servlet.DeleteUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsersServlet</servlet-name>
    <url-pattern>/DeleteUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreUpdateBillServlet</display-name>
    <servlet-name>PreUpdateBillServlet</servlet-name>
    <servlet-class>com.xx.servlet.PreUpdateBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreUpdateBillServlet</servlet-name>
    <url-pattern>/PreUpdateBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBillListServlet</display-name>
    <servlet-name>UpdateBillListServlet</servlet-name>
    <servlet-class>com.xx.servlet.UpdateBillListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBillListServlet</servlet-name>
    <url-pattern>/UpdateBillListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSupplierServlet</display-name>
    <servlet-name>UpdateSupplierServlet</servlet-name>
    <servlet-class>com.xx.servlet.UpdateSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSupplierServlet</servlet-name>
    <url-pattern>/UpdateSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUsersServlet</display-name>
    <servlet-name>UpdateUsersServlet</servlet-name>
    <servlet-class>com.xx.servlet.UpdateUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUsersServlet</servlet-name>
    <url-pattern>/UpdateUsersServlet</url-pattern>
  </servlet-mapping>
</web-app>